@model Universum.DMIS.Web.UI.Models.Students.StudentAddModel
@{
    Layout = "../Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <form asp-action="add" asp-controller="student" method="post">


        <div class="col-md-4"><label>First name</label></div>
        <div class="col-md-8"><input type="text" name="FirstName" class="form-control" /></div>

        <div class="col-md-4"><label>Last name</label></div>
        <div class="col-md-8"><input type="text" name="LastName" class="form-control" /></div>

        <div class="col-md-4"><label>Address</label></div>
        <div class="col-md-8"><input type="text" name="Address" class="form-control" /></div>

        <div class="col-md-4"><label>Date of birth</label></div>
        <div class="col-md-8"><input type="date" name="DateOfBirth" class="form-control" /></div>
        <div class="col-md-12 text-right"><button type="submit" class="btn btn-primary">Save</button></div>
        
    </form>
</div>